.item {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 0;
    border-bottom: 1px solid white;
}

.value {
    display: flex;
    gap: 1vw;
}

.add,
.remove {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: rgb(41, 40, 40);
    border-color: rgb(41, 40, 40);
    color: white;
}

.price {
    margin-right: 2vw;
}

.amount {
    background-color: rgb(124, 213, 255);
    padding: 2px 10px;
    border-radius: 12px;
    color: black;
}
