.total {
    display: flex;
    justify-content: space-between;
    margin: 3vh 0;
    font-size: 2.2rem;
    font-weight: 800;
}

.btns {
    display: flex;
    gap: 2vw;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel,
.order,
.proceed {
    border-radius: 20px;
    width: 7rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.cancel,
.proceed:hover {
    background-color: #fff;
    color: black;
}

.order:hover {
    background-color: rgb(124, 213, 255);
    border-color: rgb(124, 213, 255);
    color: black;
}

.proceed,
.cancel:hover {
    background-color: rgb(46, 44, 44);
    border-color: rgb(46, 44, 44);
    color: #fff;
}

.items {
    max-height: 50vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.firstRow {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.col1,
.col2,
.secondRow {
    display: flex;
    flex-direction: column;
}

.nameInput,
.phoneInput,
.addInput {
    border-radius: 10px;
    font-size: 24px;
}

.nameInput,
.phoneInput {
    margin-top: 5px;
    min-height: 25px;
    min-width: 180px;
    width: 18vw;
}

.addInput {
    margin-top: 5px;
    min-height: 25px;
    max-height: 60px;
    max-width: 99%;
    min-width: 99%;
}

.info {
    color: rgb(79, 233, 233);
    font-weight: 800;
}

.addLabel {
    margin-top: 10px;
}

.invalid input,
.invalid textarea {
    border: 1px solid red;
    background-color: #fddddd;
}

.invalid input:focus,
.invalid textarea:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.errorText {
    color: red;
    font-size: 15px;
}

.placing {
    color: rgb(230, 230, 2);
}

.placed {
    color: rgb(10, 216, 20);
}
