.total {
    display: flex;
    justify-content: space-between;
    margin: 3vh 0;
    font-size: 1.5rem;
    font-weight: 800;
}

.btns {
    display: flex;
    gap: 2vw;
    justify-content: flex-end;
}

.cancel,
.order {
    border-radius: 20px;
    width: 6rem;
    height: 1.8rem;
    font-size: 1.1rem;
    background-color: #fff;
    font-weight: 800;
}
