.head {
    background-color: rgb(48, 44, 46);
    display: flex;
    min-height: 50px;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.name {
    font-size: 3rem;
    color: white;
}

.cartBtn {
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    gap: 10px;
    padding: 0 4vw;
    height: 60%;
    border-radius: 40px;
}

.itemsInCart {
    background-color: rgb(124, 213, 255);
    padding: 2px 10px;
    border-radius: 12px;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
